<div id="list-posts" class="col-xs-10">
  <h3 class="heading">A list of posts:</h3><br>

  <!-- Angular -->
  <input type="text" placeholder="Angular - Please type something" ng-model="name">
  <h1>{{ name }}</h1>

  <h3>Connect Angular Controller Defined in js to View</h3>
  <div ng-controller="PostCtrl">
    {{ brand }}
    {{ prices }}
    <!-- track by index to make a duplicate unique -->
    <div>Total Price: {{ sumOfPrices | currency }}</div>
    <ul ng-repeat="price in prices track by $index">
      <li>{{ price | currency }}</li>   
    </ul>

    <!-- addPrice will look for a function in the PostCtrl -->
    <form ng-submit="addPrice()">
      <input type="number" min="0.01" max="100" step="0.01" placeholder="Add a new price" ng-model="newPrice">
    </form>
    
  </div>


  <!-- Jquery -->
  <!-- <input type="text" placeholder="JQuery - Please type something" id="name_input">
  <h3 id="name_output"></h3>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#name_input').keyup(function () {
        $('#name_output').text($('#name_input').val());
      });
    });
  </script> -->


  <table class="table table-style">
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Owner</th>
        <th>Title</th>
        <th>url</th>
        <th class="center-align">votes</th>
        <th class="center-align">comments</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>  
          <td><%= post.id %></td>
          <td class="col-ID"><%= link_to post.user.email, post.user %></td>
          <td class="col-title"><%= link_to post.title, post %></td>
          <td class="col-URL"><%= post.url %></td>
          <td class="center-align"><%= "#{post.post_votes.count}"%></td>
          <td class="center-align"><%= "#{post.comments.count}"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<div id="new-post" class="col-xs-10">
  <h3 class="heading">New post:</h3>

  <table class="table table-style">
    <tbody>
      <tr>
        <%= form_for @post, :method => :post do |f| %>
          <td>
            <%= flash[:message] %>
          </td><td class="left-align">
            <%= f.label :title %>
            <%= f.text_field :title, :class => "form-control" %>
          </td><td class="left-align">
            <%= f.label :url %>
            <%= f.text_field :url, :class => "form-control" %>
          </td><td>
            <div class="btn-group"><button class="btn btn-default" type="button">
            <%= f.submit "Submit" %></button>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>


