<div id="list-posts" class="col-xs-10">
  <h3 class="heading">A list of posts:</h3><br>
  <table class="table table-style">
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Owner</th>
        <th>Title</th>
        <th>url</th>
        <th class="center-align">votes</th>
        <th class="center-align">comments</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>  
          <td><%= post.id %></td>
          <td class="col-ID"><%= link_to post.user.email, post.user %></td>
          <td class="col-title"><%= link_to post.title, post %></td>
          <td class="col-URL"><%= post.url %></td>
          <td class="center-align"><%= "#{post.post_votes.count}"%></td>
          <td class="center-align"><%= "#{post.comments.count}"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<div id="new-post" class="col-xs-10">
  <h3 class="heading">New post:</h3>

  <table class="table table-style">
    <tbody>
      <tr>
        <%= form_for @post, :method => :post do |f| %>
          <td>
            <%= flash[:message] %>
          </td><td class="left-align">
            <%= f.label :title %>
            <%= f.text_field :title, :class => "form-control" %>
          </td><td class="left-align">
            <%= f.label :url %>
            <%= f.text_field :url, :class => "form-control" %>
          </td><td>
            <div class="btn-group"><button class="btn btn-default" type="button">
            <%= f.submit "Submit" %></button>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>


