<div class="col-xs-10">
<!-- This is the view -->


<table class="table table-style"> 
  <tbody> 
  <% @post.id %>
    <tr>
      <th>
        <div class="col-xs-12"><h3><%= @post.title %></h3></div>
        <div class="col-xs-12">
        <h5 class=""><%= link_to "", "#", :class=> "btn_vote glyphicon glyphicon-thumbs-up", 'data-id' => @post.id, 'data-user' => current_user.id %><span id="vote-count"><%= @post.post_votes.count %></span> </h5>
        </div>
      </th>
    </tr>
    <tr>
      <td><h4 class="indent">URL: <%= @post.url %><br></h4></td>
    </tr>
    <tr>
      <td><h5 class="indent">Owner email: <%= link_to @post.user.email, @post.user %></h5></td>
    </tr>
    <tr>
      <td><h5 class="indent">Created at: <%= @post.created_at %></h5></td>
    </tr>
 </tbody>
</table>
</div>

<div class="col-xs-10">
  <div class="table table-style">
    <%= form_for @comment, 
      :remote => true do |f| %>
  
      <%= f.label :Comment %>
      <%= f.text_field :comment %>

      <%= f.text_field :post_id, :value => @post.id, :hidden => true %>
      <%= f.submit "Submit new comment", :id => "btn_cmt", :'data-id' => @post.id %>
    <% end %>
  </div>
</div>

<div class="col-xs-10">
<h3 class="heading top-space col-xs-10">Comments</h3>
<table class="table table-style table-alt-color">
  <thead>
    <tr>
      <th>Content</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.reverse.each do |comment| %>
    <tr>
      <td><%= comment.comment %></td>
      <td><%= comment.user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>







