    <div class="col-xs-12">
      <div class="spacer">&nbsp;</div>
      <!-- default method is POST -->
      <% if current_user %>
        <div>
          <div class="col-xs-1">
            <%= button_to "Home", posts_path, :method => :get %>
          </div>
          <div class="col-xs-6 left-align white-color">
            <%= "Signed in as #{current_user.email}" %><br>
          </div>
          <div class="col-xs-5 right-align">
            <%= button_to "Sign out", destroy_user_session_path, :method => :delete%>
          </div>
        </div>
      <% else %>
        <div class="left-align">
      <!-- default method is GET -->
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <!-- <%= devise_error_messages! %> -->
            <%= button_to "Sign up", new_registration_path(resource_name), :method => :get%>
            <br>
            <%= button_to "Sign in", user_session_path, :method => :post%>
          <% end %>
        </div>
      <% end %>
    </div>

