<!DOCTYPE html>
<html ng-app="kitty">
  <head>
    <title>Rails Basic Template</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  
    <%= csrf_meta_tags %>
  </head>


  <body class="body-class">
    <div id="header" class="col-xs-12">    
      <%= render 'layouts/header' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>

</html>
